/* CSS Document */
.lead{
	font-weight: bold;
}
.headline{
	text-align: center;
}
.note{padding-left: 1em;
	text-indent: -1em}
.wf-hannari { font-family: "Hannari",'MS PMincho','ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'serif','ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', 'sans-serif';}
body{background-color: lightcyan;
}